Saves/
GFX/map/desktop.ini
desktop.ini
Screenshots/
Game.exe
Game.exe.backup
SCP - Containment Breach Ultimate Edition Reborn.exe
SCP - Containment Breach Ultimate Edition Reborn.exe.backup
SCP - Containment Breach Ultimate Edition.exe
SCP - Containment Breach Ultimate Edition.exe.backup
Map Creator/Map Creator.exe.backup
Map Creator/Window3D.exe.backup
