Saves/
GFX/map/desktop.ini
desktop.ini
Screenshots/
Game.exe
Game.exe.backup
Map Creator/Maps/
SCP - Containment Breach Ultimate Edition Reborn.exe
SCP - Containment Breach Ultimate Edition Reborn.exe.backup
SCP - Containment Breach Ultimate Edition.exe
